.form{
    width: 800px;
    height: 500px;
    margin: 30px ;
    background-color: white;
    border: double grey 2px;
}

.hr{
    border-top: 1px solid gray;
}

.portfolio-img{
    margin: 10px;
}
body{
    background: lightgray;
}

.container{
    margin: 50px;
}

#about-row{
    height: 400px;
    border: solid black;
}

