body {
    background-color: lightblue;
  }  

.form{
    width: 800px;
    height: 500px;
    margin: 30px ;
    background-color: white;
    border: double grey 2px;
}

.hr{
    border-top: 1px solid gray;
}

.portfolio-img{
    margin: 10px;
}


.container{
    margin: 50px;
}

#about-row{
    max-height: 60%;
    border: outset;
}

@media screen and (max-width: 980px) {
    .form{
      width: 80%;
      margin-top: 0;

    }
}
    
@media screen and (max-width: 768px) {
    .form{
      width: 80%;
      margin-top: 0;
    }
}

@media screen and (max-width: 640px) {
    .form{
      width: 80%;
      margin-top: 0;
    }
  }