/* Made background of site light blue */
body {
    background-color: lightblue;
  }  

  /* Added space inside containers for content and separated it from sticky footer with margin */
.container{
    margin-bottom: 50px;
}

/* Changing font of bio */
.bio-text{
  font-weight: bold;
  font-size: larger;
}

/* size of profile image*/
.profile-img{
  max-height: 600px;
}

/* margin between rows */
.tech-row{
  margin-bottom: 20px;
}

/* size of tech stack icons */
.stack{
  margin: 10px;
  width: 100px;
  height: 100px;
}

/* space between image and next row */
.img-row{
  margin-bottom: 50px;
}

/* Created border for cards in portfolio section*/
.card{
  max-height: 100%;
  height: 425px;
  border: outset;
}

/* created space within portfolio cards for images */
.portfolio-img{
    margin: 10px;
    height: 200px;
    width: 250px;
}

/* space between portfolios and next row */
.portfolio-row{
  margin-top: 10px;
}

/* space between contact header and row above */
.contact-row{
  margin-top: 20px;
}

/* size and margin for contact icons */
.icons {
  margin-bottom: 10px;
  width:50px;
  height: 50px;
}

/* space between icons and bottom of page */
.icon-row{
  margin-bottom: 50px;
}

/* sticky footer! */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}